section {
    width: 550px;
}

.listContainer {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.listContainer ul {
    list-style-type: none;
    padding-left: 0;
}

#statusText {
    font-weight: bold;
}